@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Student portal Web app with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Students" asp-action="List">View all Students</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Students" asp-action="Add">Add New Students</a>

</div>
